body {
  background-color: #fcfcfc;
  text-align: center;
  color: #8e44ad;
}

h1 {
	font-size: 5em;
	font-family: "PT Sans";
}

#title {
	margin-top:60px;
	margin-bottom: 50px;
}

#titlelogo{
	margin-bottom: 20px;
	margin-top:0px;
	width: 30%;
	min-width: 300px;
}

#name {
	margin-bottom: 20px;
}

#tag {
	margin-top: 10px;
}

#mc-embedded-subscribe {
	border: none;
	background-color: #8e44ad;
	color: #fcfcfc;
	padding: 5px 15px 5px 15px;
}

#mc-embedded-subscribe:hover {
	background-color: #551670;
}

#description {
	margin-top: 340px;
	background-color: #8e44ad;
	color: #fcfcfc;
	text-align: left;
	padding: 30px;
	padding-top:60px;
	padding-bottom:150px;
	font-family: "PT Sans";
}

p {
	font-size: 1.2em;
}

.topbutton {
	margin: auto;
	margin-top: 30px;
	background-color: #8e44ad;
	padding: 20px 45px 20px 45px;
	color: #fcfcfc;
	border: 1.5px solid #fcfcfc;
	font-size: 1.5em;
	width: 206px;
}

.topbutton:hover {
	background-color: #551670;
}

#title input {
	max-width: 206px;
}

#signup {
	color: #333;
	padding-top: 60px;
}

#footer {
	margin-top: 230px;
	padding:10px;
	background-color: #8e44ad;
}

.shrink {
	width: 8%;
}